<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.claim.mapper.ClaimTrxMapper">

    <insert id="insertOrderCostByCopy" parameterType="com.plateer.ec1.common.model.order.OpOrdCostInfoModel">

    </insert>

    <insert id="insertOrderBenefitRelationByCopy" parameterType="com.plateer.ec1.common.model.order.OpOrdBnfRelInfoModel">

    </insert>

    <update id="updateOrderBenefit" parameterType="com.plateer.ec1.common.model.order.OpOrdBnfInfoModel">

    </update>

</mapper>