<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.promotion.mapper.CalculationMapper">

    <sql id="selectPromotionList">
        select
            distinct on (cpb.prm_no) cpb.prm_no,
            cpb.dc_ccd,
            cpb.dc_val,
            cpb.max_dc_amt,
            cpb.min_pur_amt,
            ccb.cpn_kind_cd,
            ccb.degr_ccd
        from cc_prm_base cpb
            inner join cc_cpn_issue cci on cpb.prm_no = cci.prm_no
            inner join cc_prm_aply_tgt cpat on cpb.prm_no = cpat.prm_no
            inner join cc_cpn_base ccb on cpb.prm_no = ccb.prm_no
        where cpb.use_yn = 'Y'
          and cpb.prm_kind_cd = '20'
          and
            case
            when cpb.prm_priod_ccd = '10'
            then now() between cpb.prm_strt_dt and cpb.prm_end_dt + interval '1 day'
            when cpb.prm_priod_ccd = '20'
            then now() between cci.sys_reg_dtime and cci.sys_reg_dtime + interval '1 day' * cpb.prm_std_dd
            else true end
          and cci.cpn_use_dt is null
          and cci.mbr_no = #{mbrNo}
          and cpat.use_yn = 'Y'
          and cpat.aply_tgt_ccd = '10'
          and ccb.cpn_kind_cd = #{cpnKindCd}
          and ccb.degr_ccd = #{degrCcd}
    </sql>


    <select id="selectProductPromotionList"
            parameterType="com.plateer.ec1.promotion.vo.req.ProductCouponRequest"
            resultType="com.plateer.ec1.promotion.vo.Promotion">
        <include refid="selectPromotionList"/>
        and cpat.aply_tgt_no = #{productNo}
        and cpb.min_pur_amt <![CDATA[ <= ]]> #{productPrice}
    </select>

    
    <select id="selectCartPromotionList"
            parameterType="com.plateer.ec1.promotion.vo.req.CartCouponRequest"
            resultType="com.plateer.ec1.promotion.vo.Promotion">
        <include refid="selectPromotionList"/>
        and aply_tgt_no in
        <foreach item="item" collection="productList" open="(" separator="," close=")">
            #{item.productNo}
        </foreach>
    </select>
    
    <select id="selectApplyProductNoList"
            parameterType="com.plateer.ec1.promotion.vo.req.CartCouponRequest"
            resultType="String">
        select aply_tgt_no
        from cc_prm_aply_tgt
        where prm_no = #{prmNo}
        and aply_tgt_no in
        <foreach item="item" collection="productList" open="(" separator="," close=")">
            #{item.productNo}
        </foreach>
    </select>

</mapper>