<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.promotion.mapper.CouponMapper">

    <select id="getAvailableCouponCountByPrmNo"
            parameterType="com.plateer.ec1.promotion.vo.req.AvailableCouponCountRequest"
            resultType="com.plateer.ec1.promotion.vo.res.CouponCountResVO">
    /* 프로모션 번호와 회원번호로 다운로드 가능한 갯수와 기다운로드 갯수 조회 */

    select
        cpn.dwl_psb_cnt,
        cpn.psn_dwl_psb_cnt,
        (select count(*) from cc_cpn_issue where prm_no = #{prmNo} and org_cpn_iss_no is null) as used_cnt,
        (select count(*) from cc_cpn_issue where prm_no = #{prmNo} and mbr_no = #{mbrNo} and org_cpn_iss_no is null) as psn_used_cnt
    from cc_prm_base prm
             inner join cc_cpn_base cpn using (prm_no)
    where prm.use_yn = 'Y'
      and case when cpn.dwl_priod_ccd = '10'
            then current_date between cpn.dwl_avl_strt_dd::date and cpn.dwl_avl_end_dd::date + interval '1 day'
            when cpn.dwl_priod_ccd = '20'
            then current_date between cpn.dwl_avl_strt_dd::date and cpn.dwl_avl_strt_dd::date + interval '1 day' * cpn.dwl_std_dd
            else false end
      and cpn.prm_no = #{prmNo}

    </select>

    <select id="validatePromotionPeriod"
            parameterType="Long"
            resultType="boolean">
        /* 프로모션 시작/종료 기간을 현재를 기준으로 검증 */
        select exists (
            select prm_no
            from cc_prm_base
            where prm_no = #{prmNo}
            and now() between prm_strt_dt and prm_end_dt + interval '1' day
            )
    </select>

    <select id="getCouponInfo"
    parameterType="Long"
    resultType="com.plateer.ec1.promotion.vo.CouponInfo">
        select
            cpb.prm_no,
            cpb.prm_priod_ccd,
            cpb.prm_strt_dt,
            cpb.prm_end_dt,
            cpb.prm_std_dd,
            cci.mbr_no,
            cci.sys_reg_dtime,
            cci.cpn_use_dt
            from cc_prm_base cpb inner join cc_cpn_issue cci using (prm_no)
            where cci.cpn_iss_no = #{cpnIssNo}
    </select>

</mapper>