<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.payment.mapper.PaymentMapper">

    <select id="getOriginalOrder"
            parameterType="String"
            resultType="com.plateer.ec1.payment.vo.OriginalOrder">

        select
            opi.pay_no,
            opi.ord_no,
            opi.pay_mn_cd,
            opi.pay_prgs_scd,
            opi.rfnd_avl_amt,
            opi.pay_amt,
            opi.trsn_id,
            opi.pay_cmt_dtime,
            opi.vr_acct,
            opi.vr_acct_nm,
            opi.vr_bnk_cd,
            opi.vr_val_dt,
            opi.vr_val_tt,
            ogi.goods_nm,
            oob.ord_nm
        from op_pay_info opi
        inner join op_goods_info ogi using (ord_no)
        inner join op_ord_base oob using (ord_no)
        where
            opi.ord_no = #{ordNo}
        and opi.pay_prgs_scd in ('10', '20')
        order by opi.sys_reg_dtime desc
        limit 1
    </select>

</mapper>

